<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Calculadora</a>
</nav>

<div class="container">
  <div class="form-group">
    <label for="numero1">Digite 1º Numero</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="data.numero1"
      placeholder="Apenas Numeros"
    />
  </div>
  <div class="form-group">
    <label for="numero2">Digite 2º Numero</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="data.numero2"
      placeholder="Apenas Numeros"
    />
  </div>
  <div class="form-group ">
    <label for="tipoOperacao">Tipo Operação</label>
    <select
      [(ngModel)]="data.tipoOperacao"
      class="form-control "
      name="tipoOperacao"
    >
      <option value="">Selecione </option>
      <option *ngFor="let t of tipoOperacao.get" value="{{ t.id }}">
        {{ t.descricao }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="resultado">Resultado</label>
    <input
      type="number"
      class="form-control"
      name="resultado"
      [ngModel]="data.resultado"
      readonly
    />
  </div>

  <div>
    <button type="button" class="btn btn-primary" (click)="calcualar()">
      Calcular
    </button>
  </div>
</div>
